extends layout.pug

block header
    p.text-right
        button#exit.btn.btn-sm.btn-danger= "退出"

block content
    div.dashboard-main
        div.row
            div.col-lg-8.col-lg-offset-2
                div.panel.panel-default
                    div.panel-heading
                        h3.panel-title= "写文章："
                            input#title.form-control(autocomplete="off", spellcheck="false", autocapitalize="off", autocorrect="off", type="text", required, style="min-width:300px;margin-left: 10px;display: inline;width:auto;")
                    div.panel-body
                        textarea#editor(spellcheck="false" style="width:100%;min-height:480px;font-size:14px;padding:5px")
                    div.panel-footer
                        div.text-right
                            button#submit.btn.btn-default= "提交"
        div.row
            div.col-lg-8.col-lg-offset-2

                ul(style="margin:10px auto;list-style-type:none;")
                    each art in articles
                      li(style="padding: 4px;")
                        span(style="margin-right:10px;")= art
                        button.btn.btn-sm.btn-danger(name="del-art", data-del=art)= "Delete"




    script(src='/js/admin-dashboard.js')

